@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-roboto: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}

.roboto {
  font-family: var(--font-roboto);
}

@keyframes waveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Moves the letter up */
  }
  100% {
    transform: translateY(0); /* Returns the letter down */
  }
}

/* On hover, apply the wave effect */
span:hover .letter {
  animation: waveUpDown 0.6s ease-in-out infinite;
}

/* Styling each letter to apply the animation individually */
span .letter {
  display: inline-block;
  animation: none; /* Initially no animation */
}

/* Add slight delay to each letter for the wave effect */
span:hover .letter:nth-child(1) {
  animation-delay: 0s;
}

span:hover .letter:nth-child(2) {
  animation-delay: 0.1s;
}

span:hover .letter:nth-child(3) {
  animation-delay: 0.2s;
}

span:hover .letter:nth-child(4) {
  animation-delay: 0.3s;
}

span:hover .letter:nth-child(5) {
  animation-delay: 0.4s;
}

span:hover .letter:nth-child(6) {
  animation-delay: 0.5s;
}

span:hover .letter:nth-child(7) {
  animation-delay: 0.6s;
}

span:hover .letter:nth-child(8) {
  animation-delay: 0.7s;
}

span:hover .letter:nth-child(9) {
  animation-delay: 0.8s;
}

span:hover .letter:nth-child(10) {
  animation-delay: 0.9s;
}

.gradient {
  background-color: #dce9f0;
background-image: linear-gradient(62deg, #dce9f0 27%, #E0C3FC 100%);

}
